@font-face {
  font-family: 'minhafonte';
  src: url('../src/fonts/minercraftory.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minhafonte2';
  src: url('../src/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (max-width: 600px) {
  nav ul li {
    display: block;
    /* Muda para exibição em bloco em telas pequenas */
    margin: 5px 0;
    /* Margem vertical */
    font-size: small;
  }

  body {
    font-size: large;
    margin: 0;
    padding: 20px;
    /* Adiciona um padding ao redor do conteúdo */
    font-family: Arial, sans-serif;
    /* Define uma fonte padrão */
    line-height: 1.6;
    /* Aumenta o espaçamento entre linhas para melhor legibilidade */
  }

  th,
  td {
    font-size: 11px;
  }

  img {
    width: 40px;
    /* Reduz a largura da imagem em telas menores */
  }

  .game-block {
    flex-direction: column;
    /* Muda a direção para coluna em telas menores */
    align-items: flex-start;
    /* Alinha os itens à esquerda */
  }

  .game-block img {
    margin-right: 0;
    /* Remove a margem à direita da imagem */
    margin-bottom: 8px;
    /* Adiciona margem abaixo da imagem */
  }

}

body{
  background-color: #2F2F2F;
}

/* Cabeçalho */
header {
  background-color: #001827;
  color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 6px;
  text-align: center;
  font-family: 'minhafonte';
  /* Certifique-se de que a fonte está importada */
  line-height: 1.5;
  /* Espaçamento de linha de 1,5 */
}

/* Navegação */
nav {
  background: rgb(39, 39, 39);
  padding: 10px;
  border-radius: 4px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 50px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  /* Efeito de hover */
  color: #fffb00;
  /* Muda a cor ao passar o mouse */
}

/* Conteúdo principal */
#container {
  font-family: 'minhafonte2';
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  background-color:white;
  color: black;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  box-shadow: 0px 0px 20px #00000054;
}
#container p {
  margin: 0px;
  text-align: justify;
}
li {
  list-style: none;
  text-align: center;
  text-size-adjust: auto;
}

/* Estilos de links */
a {
  color: #051ce6d5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #555555;
  /* Cor da borda */
  padding: 8px;
  /* Espaçamento interno */
  text-align: left;
  /* Alinhamento do texto */

}

th {
  background-color: #35424a;
  /* Cor de fundo do cabeçalho */
  color: #000000;
  /* Cor do texto do cabeçalho */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Cor de fundo para linhas pares */
}

tr:hover {
  background-color: rgb(78, 78, 78);
  /* Efeito de hover nas linhas */
}

img {
  width: 200px;
  /* Define a largura padrão da imagem */
  height: 200px;
  /* Mantém a proporção da imagem */
  margin-right: 10px;
  /* Espaçamento entre a imagem e o texto */
}

ul {
  list-style: none;
}

.socialmidia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmidia .icon-content {
  margin: 0 10px;
  position: relative;
}

.socialmidia .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.socialmidia .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.socialmidia .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #555555;
  transition: all 0.3s ease-in-out;
}

.socialmidia .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.socialmidia .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.socialmidia .icon-content a:hover {
  color: white;
}

.socialmidia .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.socialmidia .icon-content a:hover .filled {
  height: 100%;
}

.socialmidia .icon-content a[data-social="discord"] .filled,
.socialmidia .icon-content a[data-social="discord"]~.tooltip {
  background-color: #7289da;
}

.socialmidia .icon-content a[data-social="steam"] .filled,
.socialmidia .icon-content a[data-social="steam"]~.tooltip {
  background-color: #171d25;
}

.socialmidia .icon-content a[data-social="instagram"] .filled,
.socialmidia .icon-content a[data-social="instagram"]~.tooltip {
  background: linear-gradient(45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f);
}

.game-block {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px #00000054;
  /* Permite que os itens se movam para a próxima linha */
}

.game-block img {
  width: 50px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
  margin-right: 16px;
}

.game-info {
  flex: 1;
  /* Permite que a seção de informações ocupe o espaço restante */
}

.game-block h3 {
  margin: 0;
}

.game-block p {
  margin: 8px 0 0;
}